<!DOCTYPE html>
<%@ page language="java" import="java.util.*" pageEncoding="utf-8"%>
<%
String serverPath = "http://"+request.getServerName()+":"+request.getServerPort();
String appPath    = serverPath + request.getContextPath();
%>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>膏体服务云平台</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
    <link href="<%=appPath%>/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="<%=appPath%>/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

    <link href="<%=appPath%>/css/font-awesome.css" rel="stylesheet">
    <link href="<%=appPath%>/css/css.css" rel="stylesheet">
    
    <link href="<%=appPath%>/css/style.css" rel="stylesheet" type="text/css">
    <link href="<%=appPath%>/css/pages/signin.css" rel="stylesheet" type="text/css">

</head>

<body>
	
	<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<a class="brand" href="index.jsp">
				膏体服务云平台
			</a>		
			
			<div class="nav-collapse">
				<ul class="nav pull-right">
					
					<li class="">						
						<a href="signup.html" class="">
                            没有账号? 去注册
						</a>
						
					</li>
					
					<li class="">						
						<a href="index.jsp" class="">
							<i class="icon-chevron-left"></i>
							去主页
						</a>
						
					</li>
				</ul>
				
			</div><!--/.nav-collapse -->	
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->
